# Cloudflare Turnstile
# Get these from https://dash.cloudflare.com/ > Turnstile
NEXT_PUBLIC_TURNSTILE_SITE_KEY=0x4AAAAAACsiH8KbEmFd17zJ
TURNSTILE_SECRET_KEY=

# Resend
# Get API key from https://resend.com/api-keys
RESEND_API_KEY=
RESEND_FROM_EMAIL=info@zcdcllp.com
RESEND_TO_EMAIL=info@zcdcllp.com
